<section class="section">
  <div class="container">
    <% user.following.forEach(userFollowing => { %>
      <div class="columns">
      <div class="column is-6">
      <figure class="image is-64x64" >
      <img src="<%= userFollowing.profilePicture %>" alt="">
      </figure>
      </div>
      <div class="column is-3">
      <a class="standard-text-style" href="/user/<%= userFollowing.id %>"<h2><b><%= userFollowing.username %></b></h2></a>
      <h2 class="standard-text-style"> <b><%= userFollowing.followers.length %></b>
      <% if (userFollowing.followers.length === 1) { %>
        FOLLOWER
        <% }  else { %>
          FOLLOWERS
          <%  } %>
          </h2>
          </div>
          <div class="column is-3">
          <% const _user = userFollowing %>
          <%- include('../following/new', { _user }) %>
          </div>
          </div>
          <% }) %>

  </div>

</section>
