<section class="section">
  <div class="container">
    <% if (results.length > 0) { %>
      <h2 class="searchTitle subtitle is-2 standard-text-style">  <%= _searchTerm %> </h2>
      <% } else { %>
        <h2 class="searchTitle subtitle is-2 standard-text-style"> Nothing here for "<%= _searchTerm %>" </h2>
        <% } %>
    <div class="columns is-multiline is-mobile">

      <% results.forEach(image => { %>
        <div class="column is-4-desktop column is-4-tablet is-full-mobile">
          <a href="/user/<%= image.uploadedBy.id %> ">
            <h2> <%= image.uploadedBy.username %> </h2>
          </a>
          <a href="/images/<%= image.id %>" >
            <img src="<%= image.imageURL %>" alt="<%= image.caption %>">
          </a>
          <h3> <%= image.caption %> </h3>
          <% image.tags.forEach(tag => { %>
            <form action="/search/index" method="POST">
              <input type="hidden" name="searchTerm" value="<%= tag %>">
              <button type="tag" name="button"><%= tag %></button>
            </form>
          <% }) %>
        </div>
        <% }) %>
      </div>

  </div>

</section>
