<%#need to add image on registration %>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-half-desktop is-one-half-tablet is-full-mobile">
        <img class="profile-pic" src="../images/<%=_user.profilePicture%>" alt="Profile Picture">

      </div>
      <div class="column is-one-half-desktop is-one-half-tablet is-full-mobile">
        <h1><%= _user.username %></h1>
        <%- include('../following/new', { _user }) %>
          <h2><%=images.length%> posts</h2>

        <a href="/user/<%=_user.id%>/followers">
          <h2><%=_user.followers.length%> followers</h2>
        </a>

        <a href="/user/<%=_user.id%>/following">
          <h2><%=_user.following.length%> following</h2>
        </a>
      </div>
    </div>
    <div class="columns is-multiline is-mobile">
      <% images.forEach(image => { %>
        <div class="column is-4-desktop is-4-tablet is-full-mobile">
        <img src="../images/<%= image.imageURL %>" alt="images/<%= image.caption %>">
        </div>
      <% }) %>
    </div>
  </div>
</section>
