<%#need to add image on registration %>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-half-desktop is-one-half-tablet is-full-mobile">
        <img class="profile-pic" src="../images/<%=user.profilePicture%>" alt="Profile Picture">

      </div>
      <div class="column is-one-half-desktop is-one-half-tablet is-full-mobile">
        <h1><%= user.username %></h1>

          <h2><%=user.imagesPosted.length%> posts</h2>

        <a href="/session/<%=user.id%>/followers">
          <h2><%=user.followers.length%> followers</h2>
        </a>

        <a href="/session/<%=user.id%>/following">
          <h2><%=user.following.length%> following</h2>
        </a>
      </div>
    </div>
    <div class="columns is-multiline is-mobile">
      <% user.imagesPosted.forEach(imagePosted => {
        image.forEach(imageStored => {
          if(imageStored.id === imagePosted) { %>
          <img src="images/<%= imageStored.imageURL %>" alt="images/<%= imageStored.caption %>">
        <% }
         })
       }) %>
      <div class="column is-4-desktop is-4-tablet is-full-mobile">

      </div>
    </div>
  </div>
</section>
