  <div class="container">
    <div class="section has-text-centered">
      <h2 class="subtitle is-2 standard-text-style">Explore</h2>
    </div>
    <div class="columns is-multiline is-mobile">
      <% images.forEach(image => { %>
        <div class="column is-4-desktop column is-4-tablet is-full-mobile">
          <a class = "username-on-index standard-text-style" href="/user/<%= image.uploadedBy.id %> ">
            <h2 class="username-on-index is-subtitle"> <%= image.uploadedBy.username %> </h2>

          </a>
          <a href="/images/<%= image.id %>" >
            <img src="<%= image.imageURL %>" alt="<%= image.caption %>">
          </a>
          <div class="columns is-vcentered is-gapless">
          <div class="column is-8">
            <h2 class="is-subtitle"> Posted: <%= image.dateUploaded.slice(0,-12)%> </h2>
          </div>
          <div class="column is-4">
            <%- include('../likes/new', { image }) %>
          </div>
        </div>
          <h3 class="standard-text-style caption"> <%= image.caption %> </h3>
            <form action="/search/index" method="POST">
          <% image.tags.forEach(tag => { %>

              <input type="hidden" name="searchTerm" value="<%= tag %>">
              <button class="button is-light tag-button standard-text-style" type="submit" name="button"><%= tag %></button>
          <% }) %>
        </form>
        </div>
        <% }) %>
      </div>

  </div>
